<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database config -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/adt3_hibernate</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Studium2023;</property>
		<property name="hibernate.connection.pool_size">3</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<property name="show_sql">true</property>
		<!-- Mapping files -->
		<mapping class="es.studium.hibernate.Usuario" />
	</session-factory>
</hibernate-configuration>
